
.rate-chart {
    height: 70%;
    width: 100%;

    .table-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #eee;
        height: 45px;
        font-weight: 900;
    }


    .table-footer {
        height: 90px;
        padding-top: 10px;
        border-top: 1px solid #eee;

        .table-col {
            width: 30%;
        }

        .ant-form {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
        }
    }

    .table-col {
        width: 30%;
        text-align: center;

        .rate-edit-btn {
            margin-right: 20px;
        }

    }

    .table-body {
        height: calc(100% - 125px);
        overflow: auto;


        .table-row {
            display: flex;
            justify-content: space-around;
            height: 40px;
            align-items: center;
        }

        .nothing-here {
            font-size: 30px;
            font-weight: 900;
            color: #eee;
            text-align: center;
            vertical-align: middle;
        }
    }

    .table-body::-webkit-scrollbar {
        width: 5px;
    }
    .table-body::-webkit-scrollbar-thumb{
        background: #000;
        border-radius: 50pc;
    }
}
