.profile-container {
    height: calc(100% - 64px);
    width: 100%;
    padding: 15px 70px;

    .profile-details {
        height: 30%;
        width: 100%;
        padding: 20px;
        display: flex;

        .info {
            margin-left: 50px;
            width: calc(100% - 120px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            div {
                display: flex;
                align-items: center;
                width: 75%;
                height: 25px;

                span {
                    font-size: 16px;
                    font-weight: 900;
                    margin-right: 10px;
                }

                .edit-icon {
                    margin-left: 10px;
                    font-size: 15px;
                }
            }

            .name {
            }

            .password {
                color: blue;
                cursor: pointer;
            }
        }
    }

}
