
.header-container {
    height: 64px;
    width: 100%;
    padding: 0px 30px;
    background: #fff;
    z-index: 10;
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    align-items: center;
    justify-content: center;

    .home-icon {
        font-size: 30px;
        margin-right: 20px;
    }

    .company-name {
        font-size: 30px;
        font-weight: 900;
        margin-right: auto;
        cursor: pointer;
    }

    .user-avatar {
        margin-left: 10px;
        margin-right: 3px;
    }

    .ant-dropdown-trigger {
        display: flex;
        align-items: center;
        cursor: pointer;

        .user-name {
        }

        .anticon {
            font-size: 15px;
        }
    }
}
